body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #ff9900;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
<img src="1.jpg" class="styled-image">
<img src="2.jpeg" class="styled-image">
<img src="3.jpg" class="styled-image">
<img src="4.jpg" class="styled-image">
<img src="5.jpg" class="styled-image">
<img src="6.png" class="styled-image">
<img src="7.jpg" class="styled-image">
<img src="8.jpg" class="styled-image">
<img src="9.jpg" class="styled-image">
<img src="10.jpg" class="styled-image">
<img src="11.jpg" class="styled-image">
<img src="12.jpg" class="styled-image">
<img src="13.jpg" class="styled-image">
<img src="14.jpg" class="styled-image">
<img src="15.jpg" class="styled-image">
.styled-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
